body {
    font-family: "Funnel Display", sans-serif;
    margin:0;
}


.site-header {
    background-color:#eee;
    padding: 30px;
}

.main-content {
    padding: 30px;
}

.site-footer {
    padding: 30px;
    background-color:#555;
    color:#fff;
}

.footer-link {
    color:#fff;
}